[Desktop Entry]
Type=Application
TryExec=/home/bward/.local/bin/alacritty
Exec=/home/bward/.local/bin/alacritty
Icon=/home/bward/.local/share/pixmaps/Alacritty.svg
Terminal=false
Categories=System;TerminalEmulator;

Name=Alacritty
GenericName=Terminal
Comment=A cross-platform, GPU enhanced terminal emulator
StartupWMClass=Alacritty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=/home/bward/.local/bin/alacritty
