[Desktop Entry]
Type=Application
TryExec=/home/bward/.local/bin/lens
Exec=/home/bward/.local/bin/lens
Icon=/home/bward/.local/share/pixmaps/lens-logo.svg
Terminal=false
Categories=System;TerminalEmulator;

Name=Lens
GenericName=Kubernetes IDE
Comment=The kubernetes ide for *
StartupWMClass=lens
